.questions-section {
  padding-top: 100px;
}
.questions__content {
  /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

.question {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  gap: 220px;
  align-items: center;
}
.first-question{
  padding-bottom: 20px;
}
.ruler-question{
  background-color: #D8D8D8;
  height: 2px;
  width: 1230px;
  margin-left: 80px;
}
.question-title {
  font-size: 30px;
  font-weight: 600;
}
.question-text {
  font-size: 20px;
  font-weight: 400;
  color: #6f6f6f;
  line-height: 24.2px;
  padding-bottom: 100px;
}
.question-icon {
  width: 60px;
  height: 60px;
}
