.news-section {
  padding-top: 100px;
}

.news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}
.main-news {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.news-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.news-title {
  font-size: 18px;
  font-weight: 500;
}
.date-news {
  color: #6f6f6f;
  font-size: 16px;
  font-weight: 400;
}
.list-news {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: self-end;
}
.info-news {
  padding-right: 100px;
}

.news-vectorIcon {
  width: 40px;
  height: 40px;
}
.img-news {
  width: 115px;
  height: 115px;
}
.details {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.deatail {
  background-color: white;
}
.ourWallet {
  background: linear-gradient(135deg, #d4151c, #d35400);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  height: 285px;
  margin: 200px 0;
}
.ourWallet-titles {
  font-size: 50px;
  font-weight: 600;
  color: white;
  padding-top: 20px;
  padding-left: 52px;
}
.our-wallet {
  width: 299.5px;
  height: 299.5px;
}
.textBtn {
  display: flex;
  flex-direction: column;
  align-items: self-end;
  gap: 20px;
padding-top: 60px;
padding-right: 40px;}
.ourWallet-texts {
  font-size: 16px;
  font-weight: 400;
  text-align: right;
  color: #f5f7fa;
}
.white-btn2 {
  border: none;
  background-color: white;
  color: #000;
}
